
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trader</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

        <link rel="stylesheet" type="text/css" href="trader.css">
    </head>


    <body>
      <h3> patient dash  for </h3>
      <h1> {{ patient_name }}</h1>
      <em> <a href = "/compliance/doctor_feedback"> add new updates  </em>


      {% if patient_feedback %}
       {% for key, value in patient_feedback.items %}
          {% if key == "Medicine" %}
            <table class = "striped">
              <tr>
                <th>Medication</th>
              </tr>
                  <td>{{ value }}</td>
          {% endif %}
        {% endfor %}
       {% endif %}

       {% if patient_feedback %}
        {% for key, value in patient_feedback.items %}
           {% if key == "Diet & Excercise" %}
             <table class = "striped">
               <tr>
                 <th>Diet & Exercise</th>
               </tr>
                   <td>{{ value }}</td>
           {% endif %}
         {% endfor %}
        {% endif %}

        {% if patient_feedback %}
         {% for key, value in patient_feedback.items %}
            {% if key == "Other" %}
              <table class = "striped">
                <tr>
                  <th>Other</th>
                </tr>
                    <td>{{ value }}</td>
            {% endif %}
          {% endfor %}
         {% endif %}



    </body>
